# bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# minimal Rails specific artifacts
/log/*
/tmp/*

# configuration files
/config/secrets.yml
/config/config.yml
/config/application.yml

# documentation
/doc/api/
/doc/app/
/doc/features.html
/doc/specs.html

# public / cached
/public/cache
/public/stylesheets/compiled
/public/system/*
/spec/tmp/*
/cache
/gems
/specifications
.rspec

# Mac finder artifacts
.DS_Store

public/favicons/*
Capfile
newrelic.yml
Gemfile.lock
