<!-- First Band (Slider) -->
<div class="row">
	<div class="large-12 columns">
    	<div class="teaser">
			<h1>Curate all your links.</h1>
			<h4>pellect.io is a simple and free service to save and curate all the links <br>you discover on the web. - <%= link_to 'Sign up for pellect.io', new_user_registration_path %></h4>
    	</div>
    	<hr/>
	</div>
</div>
<!-- Three-up Content Blocks -->
<div class="row">
	<div class="large-4 columns">
		<h4>Curate all your links.</h4>
		<p>When you find something you want to keep for reference or for reading later, save it here.</p>
	</div>
	<div class="large-4 columns">
		<h4>Save articles</h4>
		<p>Just click the bookmarklet to save an article. Or connect pellect.io with your instapaper account.</p>
	</div>
	<div class="large-4 columns">
		<h4>Discover your articles</h4>
		<p>Return to an article later, either on the web or from our archive.</p>
	</div>
</div>