<div class="row static-page">
	<div class="large-12 columns">
		<h4>What does pellect.io do?</h4>
		<p>pellect.io curates web content – articles, stories, posts, videos, and even long emails – for future reference or reading.</p>
	</div>
</div>