<div class="row static-page">
	<div class="large-12 columns">
		<h4>Our Commitment To Privacy</h4>
		<p>In a nut-shell, we DO NOT SHARE ANY INFORMATION with third-parties.</p>
		<p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used.</p>
		<h4>The Information We Collect</h4>
		<p>This notice applies to all information collected or submitted on the this website and all our applications and services for iPhone, iPad, Android, Kindle, and other devices and platforms.</p>
		<p>We occasionally need to collect information for convenience, practicality, or technical requirements. This information includes:</p>
		<p>
		* Your chosen username, which is your email address or name. A username is technically required so you can log in from multiple computers and devices. We encourage you to use your email address to make "forgot password" functionality possible.<br>
		* Your chosen password. A hash of your password is stored in the our database, and the plain-text password is only used for hash comparison to the stored value.<br>
		* The titles, URLs (addresses), and selected text of the pages you save.<br>
		* Your Instapaper username, if you enable automatic synchronization with Instapaper. This is technically required to retrieve URLs saved to Instapaper.<br>
		* Your Amazon Kindle email address, if you have enabled automatic delivery to your Kindle. This is technically required to send your content to your Kindle.
		</p>
		<p>Like most Web sites, we also collect and store information automatically and through the use of electronic tools that may be transparent to our visitors. For example, we may log the name of your Internet Service Provider, your IP address, and information provided by and about your Internet browser. As we adopt additional technology, we may also gather similar information through other means.</p>
		<p>We also use "cookie" technology. Among other things, we use cookies for the purposes of storing your username and password hash to spare you from having to re-enter that information each time you visit.</p>
		<h4>The Way We Use Information</h4>
		<p>We use the information you provide to operate our services. We do not share this information with outside parties.</p>
		<p>We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</p>
		<h4>Deleting Information</h4>
		<p>You can delete your entire account at any time at http://www.pellect.io/user/delete. If you delete your account, all account information and saved data is deleted from the our service immediately.</p>
		<p>Due to the nature of backups and logs, deleted data may persist in backups and logs until they are deleted.</p>
	</div>
</div>