<div class="row static-page">
	<div class="large-12 columns">
		<h4>Our Building Blocks</h4>
		<p>pellect.io wouldn't be possible without some fine open-source software projects. These are some of the components we rely on, and we'd like to extend our thanks to all the authors. Some of our own open-source projects can be found on our GitHub page.</p>
	</div>
</div>