// Place all the styles related to the bookmark controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "foundation";

body {
	padding-top: 8px;
}
.bookmarks {
  height: 100%;
  background-color: #ffffff;
  color: #999999;
}
.bookmarks-stream {
  background-color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
}
.bookmarks-stream-noscroll {
  background-color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
}
.features-stream {
  background-color: #ffffff;
  margin-left: -15px;
  margin-right: -15px;
}
.bookmarks-stats {
  color: #999999;
  float: right;
}
.bookmark-input {
  margin-top: 12px;
  height: 68px;
}
.bookmark {
  height: 60px;
  border-bottom: 1px solid #f4f4f4;
  background-color: #ffffff;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}
.bookmark-unread {
  @extend .bookmark;
  background-color: #f4f4f4;
  border-bottom: 1px solid #dddddd;
}
.bookmark-expired {
  @extend .bookmark;
  background-color: #fcd059;
}
.bookmark-featured {
  @extend .bookmark;
  background-color: #e2f2d5;
}
.bookmark-favicon {
  float: left;
  margin-left: 10px;
  width: 52px;
  height: 52px;
}
.favicon-img {
  margin-top: 12px;
  width: 32px;
  height: 32px;
}
.bookmark-meta {
  font-size: 14px;
  float: left;
}
.bookmark-title {
  padding-top: 10px;
}
.bookmark-title > a {
  color: #3d525e;
}
.bookmark-site {
  font-size: 11px;
  padding-top: 8px;
}
.bookmark-site > a {
  color: #999999;
}
.bookmark-meta2 {
  font-size: 11px;
  position: relative;
  float: right;
  padding-right: 8px;
}
.bookmark-controls-top {
  margin-top: 10px;
}
.bookmark-controls-bottom {
  margin-top: 43px;
}
.bookmark-controls-bottom > a {
  color: #d02b55;
}

.bookmark-form {
  padding-top: 40px;
}
.bookmark-form form {
  //@include panel();
  border-width: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 60px;
  background-color: #f4f4f4;
}
.bookmark-form form a {
  font-size: rem-calc(13);
}
.bookmark-form form p {
  font-size: rem-calc(13);
}
.form-control {
  position: relative;
}
.form-alt-control {
  position: relative;
  margin-left: 130px;
  margin-top: 34px;
}