// import the CSS framework
@import "foundation";

// used to style the foundation icons
.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }  
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  line-height: 45px; }
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for Devise views
// using Foundation
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @include panel();
  padding-bottom: 60px;
}
.authform form a {
  font-size: rem-calc(13);
}
.authform form p {
  font-size: rem-calc(13);
}
.authform .form-group {
  // for Bootstrap, not used for Foundation
}
.authform .form-control {
  // for Bootstrap, not used for Foundation
}
.authform .checkbox {
  // for Bootstrap, not used for Foundation
}
.authform fieldset {
  @include panel();
}
.authform #error_explanation {
  @extend .alert-box;
  @extend .alert;
}
.authform #error_explanation h2 {
  font-size: rem-calc(16);
  color: white;
}
