// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teaser {
  background-image: url(image_path('books.jpg'));
  margin-top: 8px;
  height: 380px;
}

.teaser > h1 {
  margin: 0;
  margin-left: 12px;
  //margin-bottom: 120px;
  padding-top: 234px;
  font-size: 3em;
  color: #f0f0f0;
}
.teaser > h4 {
  margin: 0;
  margin-left: 12px;
  font-style: normal;
  font-weight: normal;
  color: #f0f0f0;
}
.teaser > h4 > a {
  //color: #ffffff;
  color: #f0f0f0;
  font-weight: bold;
}