<footer class="row">
	<div class="large-12 columns">
		<hr />
			<div class="row">
				<div class="large-5 columns bold_text">
					<p>© 2014 ratchet.cc</p>
				</div>
			<div class="large-7 columns">
				<ul class="inline-list right">
					<li><%= link_to 'PRIVACY POLICY', page_path('privacy') %></li>
					<li><%= link_to 'IMPRINT', page_path('imprint') %></li>
					<li><%= link_to 'THANKS!', page_path('thanks') %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>