<footer class="row">
	<div class="large-12 columns">
		<hr />
			<div class="row">
				<div class="large-6 columns">
					<p>© Copyright no one at all. Go to town.</p>
				</div>
			<div class="large-6 columns">
				<ul class="inline-list right">
					<li><%= link_to 'TERMS OF USE', page_path('terms') %></li>
					<li><%= link_to 'PRIVACY POLICY', page_path('privacy') %></li>
					<li><%= link_to 'IMPRINT', page_path('imprint') %></li>
					<li><%= link_to 'THANKS!', page_path('thanks') %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>