<div class="row">
	<div class="large-3 columns">
		<%= link_to image_tag('pellectio.gif'), root_path %>
	</div>
	<div class="large-9 columns">
		<ul class="inline-list right">
			<%= render 'layouts/navigation_links' %>
		</ul>
	</div>
</div>