<div class="row">
	<div class="large-3 columns">
		<h1><%= link_to image_tag('http://placehold.it/400x100&text=Logo'), root_path %></h1>
	</div>
	<div class="large-9 columns">
		<ul class="inline-list right">
			<%= render 'layouts/navigation_links' %>
		</ul>
	</div>
</div>